.design-mask {
    min-height: 30px;
    padding: .5rem;
    position: relative;
}

.outline-blue {
    outline: 2px solid #244277;
    outline-offset: -1px;
}

.outline-blue-dash {
    outline: 2px dashed #244277;
    outline-offset: -1px;
}

.inline-block {
    display: inline-block
}

.icon {
    position: absolute;
    background-color: #244277;
    z-index: 10;

    width: 20px;
    height: 20px;

    right: 0;
    top: 0;
}
